



                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
                        <div class="card card-register">
                            <div class="social">
                                <a class="btn btn-just-icon btn-facebook"
                                   asp-route-provider="Facebook"
                                   asp-action="LoginWhithOAuth"><i class="fa fa-facebook"></i></a>                               
                            </div>                    
                        </div>
                    </div>
                </div>


